html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;   /* центр по горизонтали */
  align-items: center;       /* центр по вертикали */
  background: linear-gradient(180deg, #000000, #b3540d);
  font-family: Arial, sans-serif;
  color: #ffca70;
}

/* Контейнер игры */
.container {
  text-align: center;
}

/* Кнопка */
button {
  padding: 15px 40px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  background: orange;
  color: black;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, box-shadow 0.2s;
}
button:active {
  transform: scale(0.95);
  box-shadow: 0 0 15px #ffae42;
}

/* Задания */
.tasks {
  margin-top: 20px;
  padding: 20px;
  background: rgba(0,0,0,0.4);
  border-radius: 15px;
  width: 280px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.tasks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tasks li {
  margin: 8px 0;
}
.done {
  text-decoration: line-through;
  color: #7CFC00;
}

html, body {
  overflow: hidden;        /* запрет прокрутки */
  touch-action: none;      /* запрещаем свайпы и двойные тапы */
  -ms-touch-action: none;  /* для старых браузеров */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}